<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :feeling, t(:feeling, scope: 'activerecord.attributes.entries') %>
    <%= form.select :feeling, Entry.feeling.options %>
  </div>

  <div class="field">
    <%= form.label :description, t(:description, scope: 'activerecord.attributes.entries') %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :hour, t(:hour, scope: 'activerecord.attributes.entries') %>
    <%= form.time_field :hour %>
  </div>

  <div class="field">
    <%= form.label :day, t(:day, scope: 'activerecord.attributes.entries') %>
    <%= form.date_field :day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
