<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="title"><%= t(:entry, scope: 'activerecord.models').pluralize %></h1>

  <table class="table">
    <thead>
      <tr class="columnTitle">
        <th><%= t(:feeling, scope: 'activerecord.attributes.entries') %></th>
        <th><%= t(:description, scope: 'activerecord.attributes.entries') %></th>
        <th><%= t(:hour, scope: 'activerecord.attributes.entries') %></th>
        <th><%= t(:day, scope: 'activerecord.attributes.entries') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @entries.each do |entry|%>
        <tr class="entrie">
          <td class="column"><%= t(entry.feeling, scope: 'activerecord.attributes.entries.feelings') %></td>
          <td class="column"><%= entry.description %></td>
          <td class="column"><%= entry.hour.try(:strftime, "%I:%M %p") || "-" %></td>
          <td class="column"><%= entry.day || "-" %></td>
          <td class="column"><%= link_to t(:show), entry %></td>
          <td class="column"><%= link_to t(:edit), edit_entry_path(entry) %></td>
          <td class="column"><%= link_to t(:delete), entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t(:how_are_you), new_entry_path, class: "newEntryButton" %>
</div>
