<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="title">Your Entries</h1>

  <table class="table">
    <thead>
      <tr class="columnTitle">
        <th>Feeling</th>
        <th>Description</th>
        <th>Hour</th>
        <th>Day</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @entries.each do |entry|%>
        <tr class="entrie">
          <td class="column"><%= entry.feeling %></td>
          <td class="column"><%= entry.description %></td>
          <td class="column"><%= entry.hour.try(:strftime, "%I:%M %p") %></td>
          <td class="column"><%= entry.day %></td>
          <td class="column"><%= link_to 'Show', entry %></td>
          <td class="column"><%= link_to 'Edit', edit_entry_path(entry) %></td>
          <td class="column"><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Entry', new_entry_path, class: "newEntryButton" %>
</div>
