<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:feeling, scope: 'activerecord.attributes.entries') %>:</strong>
  <%= t(@entry.feeling, scope: 'activerecord.attributes.entries.feelings') %>
</p>

<p>
  <strong><%= t(:description, scope: 'activerecord.attributes.entries') %>:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong><%= t(:hour, scope: 'activerecord.attributes.entries') %>:</strong>
  <%= @entry.hour.strftime("%I:%M %p")%>
</p>
<p>
  <strong><%= t(:day, scope: 'activerecord.attributes.entries') %>:</strong>
  <%= @entry.day %>
</p>

<%= link_to t(:edit), edit_entry_path(@entry) %> |
<%= link_to t(:back), entries_path %>
