<!DOCTYPE html>
<html>
  <head>
    <title>Carambolo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div class='alert alert-<%= name %>'>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
